@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('../font/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-bold';
  src: url('../../font/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
input {
  padding: 0;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.navbar {
  z-index: 10001;
  background-color: rgba(0, 0, 0, 0.501);
  width: 100%;
  position: absolute;
}
.navbar-inner nav {
  max-height: 100px;
  background-size: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
}
.navbar-inner nav .row {
  width: 100%;
  justify-content: space-between;
}
.navbar-inner nav .logo {
  height: 54px;
}
.navbar-inner nav .navbar-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -21px;
}
.navbar-inner nav .navbar-option .navbar-item {
  padding: 0 26px;
  margin-top: 5px;
}
.navbar-inner nav .navbar-option .navbar-item a {
  color: #ffffff;
}
.navbar-inner nav .navbar-option .navbar-item-control {
  display: none;
}
.navbar-inner nav .navbar-option .exit {
  display: none;
}
.navbar-inner nav .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -52px;
  margin-bottom: -5px;
}
.navbar-inner nav .control #shop-cart {
  border-left: thin solid #777777;
  border-right: thin solid #777777;
}
.navbar-inner nav .control-item {
  color: #ffffff;
  padding: 0 25px;
}
.navbar-inner nav .nav-icon {
  display: none;
}
.main-content .slider {
  max-height: 950px;
  background-color: #000000;
  overflow: hidden;
}
.main-content .slider-item {
  position: relative;
}
.main-content .slider-item img {
  width: 100%;
  margin-top: -320px;
}
.main-content .slider-item .slider-content {
  position: absolute;
  top: 28.8%;
  left: 50.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(-52%, 0);
}
.main-content .slider-item .slider-content .row {
  justify-content: space-between;
}
.main-content .slider-item .slider-content-inner {
  width: 48.444%;
  padding: 0 15px;
  box-sizing: border-box;
  color: #ffffff;
  margin-left: -4px;
  margin-top: -31px;
}
.main-content .slider-item .slider-content-inner .title {
  font-size: 59.5px;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
  letter-spacing: 1px;
}
.main-content .slider-item .slider-content-inner .small-title {
  font-size: 39.7px;
  font-weight: bold;
  margin-top: -40px;
  letter-spacing: 0.4px;
}
.main-content .slider-item .slider-content-inner .summary {
  line-height: 1.7;
  font-size: 14px;
  margin-left: 1.5px;
  margin-top: -11px;
  margin-bottom: 68px;
}
.main-content .slider-item .slider-content-inner .slide-btn {
  text-transform: uppercase;
  padding: 14px 47px;
  margin-left: 2px;
  border: 1px solid #ffffff;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}
.main-content .slider-item .slider-content-right {
  transform: translate(9%, -104px);
}
.main-content .slider-item .slider-content-right img {
  margin-top: 0;
}
.banner {
  transform: translateY(-15.4%);
}
.banner .banner-inner {
  max-height: 500px;
  align-items: center;
  width: 1170px;
  height: 500px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  background-color: #ffffff;
}
.banner .banner-inner-item {
  width: 33.33%;
  box-sizing: border-box;
  text-align: center;
  height: 250px;
  background-color: #ffffff;
  overflow: hidden;
}
.banner .banner-inner-item .banner-inner-icon img {
  margin-top: 32px;
  width: 53px;
}
.banner .banner-inner-item .heading {
  margin: 16px 0px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.banner .banner-inner-item .context {
  width: 316px;
  height: 36px;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  margin-left: 37px;
}
.category-inner {
  padding-top: 11px;
  width: 100%;
  border-bottom: 1px solid #dddddd;
}
.category ul {
  display: flex;
}
.category li {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  padding: 12px 19px;
  font-weight: 700;
  font-family: "Poppins";
  transition: 0.05s;
}
.category li:hover {
  color: #dd2f31;
  border-bottom: 2px solid #dd2f31;
}
.category li.active {
  color: #dd2f31;
  border-bottom: 2px solid #dd2f31;
}
.product-list {
  display: none;
}
.product-list .container {
  max-width: 1199px;
}
.product-list .product-detail {
  display: block;
  margin-left: 29px;
  margin-top: 22px;
}
.product-list .product {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-top: 41px;
  position: relative;
  height: 330px;
  margin-bottom: 6px;
}
.product-list .product-inner {
  width: 270px;
  height: 330px;
  background-color: #ffffff;
  transition: 0.4s;
}
.product-list .product-inner .product-img {
  width: 270px;
  height: 230px;
  background-color: #ffffff;
}
.product-list .product-inner .product-img img {
  margin-top: 17px;
}
.product-list .product-btn {
  position: absolute;
  top: 5.5%;
  left: 80%;
}
.product-list .product-btn .btn-item {
  display: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  padding: 2px 8px;
  margin-bottom: 13px;
  border-radius: 5px 0px;
  border: 1px solid #dddddd;
  color: #777777;
  transition: 0.5s;
}
.product-list .product-btn .btn-item:hover {
  color: #ffffff;
  background-color: #dd2f31;
  border: 1px solid #dd2f31;
}
.product-list .product-img {
  height: 170px;
  display: flex;
  justify-content: center;
}
.product-list .product-name {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
}
.product-list .product-price {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
}
.product-list .product:hover .product-inner {
  filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.2));
}
.product-list .product:hover .btn-item {
  display: block;
}
.slick-arrow {
  z-index: -1;
}
.slick-prev {
  left: 20px;
}
.slick-next {
  right: 20px;
}
.slick-dots {
  bottom: 18px;
}
.slick-dots li {
  margin: 0;
}
.slick-dots li button::before {
  font-size: 12px;
}
.slick-dots li.slick-active button::before {
  color: #dd2f31;
}
.feedback {
  height: 498px;
}
.feedback .container {
  display: flex;
  justify-content: center;
}
.feedback .feedback-inner {
  margin-top: 80px;
  width: 68%;
}
.feedback-item {
  text-align: center;
  margin-bottom: 21px;
}
.feedback-item-head {
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}
.feedback-item-img {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 23px;
}
.feedback-item-description {
  color: #777777;
  margin-bottom: 31px;
  font-size: 18px;
}
.feedback-item-name {
  font-weight: 700;
  margin-bottom: 9px;
  text-transform: uppercase;
  font-size: 18px;
  color: #000000;
}
.feedback-item-customer-intro {
  font-size: 14px;
  color: #777777;
}
.branding {
  padding-top: 44px;
}
.branding .container {
  max-width: 1199px;
}
.branding-inner {
  border-top: 1px solid #dddddd;
}
.branding-item {
  width: 16.6666%;
  padding: 0 15px;
  box-sizing: border-box;
  height: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: #222222;
}
.footer-summary .container {
  width: 48%;
}
.footer-summary .summary-inner {
  display: block;
  align-items: center;
  height: 350px;
}
.footer-summary .summary-inner .logo {
  display: flex;
  justify-content: center;
}
.footer-summary .summary-inner .logo img {
  margin-top: 97px;
}
.footer-summary .summary-inner .description {
  width: 770px;
  height: 42px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Poppins";
  text-align: center;
  margin: 35px 62px;
  color: #777777;
  letter-spacing: 0.01px;
}
.footer-summary .summary-inner .social-link {
  text-align: center;
  margin-top: 43px;
  margin-left: 14px;
  font-size: 18px;
}
.footer-summary .summary-inner .social-link a {
  color: #777777;
  margin: 20px;
}
.footer-contact {
  margin-top: 2px;
}
.footer-contact .container {
  max-width: 1199px;
}
.footer-contact .contact-inner .row {
  border-top: 1px solid #444444;
}
.footer-contact .contact-inner .contact-item {
  width: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  padding-top: 72px;
  color: #777777;
  font-size: 14px;
}
.footer-contact .contact-inner .contact-item .contact-head {
  margin-bottom: 19px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}
.footer-contact .contact-inner .contact-item .contact-link {
  line-height: 40px;
}
.footer-contact .contact-inner .contact-item .contact-link i {
  padding-right: 18px;
}
.footer-contact .contact-inner .contact-item .contact-link a {
  color: #777777;
}
.footer .copyright {
  height: 50px;
  line-height: 50px;
  background-color: #111111;
  color: #777777;
  font-size: 14px;
  margin-top: 38px;
  text-align: center;
  letter-spacing: -0.1px;
}
@media all and (max-width: 1375px) {
  .row {
    margin: 0;
  }
  .main-content .slider .slider-item img {
    margin-top: 0;
  }
  .main-content .slider .slider-item .slider-content-inner {
    display: flex;
    flex-direction: column;
  }
  .main-content .slider .slider-item .slider-content-inner .summary {
    margin: 19px 0;
  }
  .main-content .slider .slider-item .slider-content-inner .title {
    font-size: 2em;
    padding-bottom: 12px;
  }
  .main-content .slider .slider-item .slider-content-inner .small-title {
    font-size: 1.5em;
  }
  .navbar-inner nav .control {
    margin-right: 0;
  }
  .banner .banner-inner {
    width: 100%;
    height: auto;
  }
  .product-list .product-inner .product-img {
    width: 100%;
  }
  .footer-summary .summary-inner .description {
    width: 100%;
    margin: 35px 0;
  }
}
@media all and (max-width: 1170px) {
  .product-list .product-inner {
    width: 100%;
  }
  .banner-inner-item img {
    width: 100%;
  }
  .navbar-inner nav .navbar-option .navbar-item {
    padding: 0 16px;
  }
}
@media all and (max-width: 1024px) {
  .navbar-inner nav .navbar-option {
    transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transform: translateX(110%);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    display: block;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.94);
  }
  .navbar-inner nav .navbar-option .navbar-item {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #ffffff;
  }
  .navbar-inner nav .navbar-option .navbar-item a {
    color: #ffffff;
  }
  .navbar-inner nav .navbar-option .navbar-item-control {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #ffffff;
  }
  .navbar-inner nav .navbar-option .navbar-item-control a {
    color: #fff;
  }
  .navbar-inner nav .navbar-option .exit {
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }
  .navbar-inner nav .navbar-option .exit i {
    font-size: 60px;
  }
  .navbar-inner nav .control {
    display: none;
  }
  .navbar-inner nav .nav-icon {
    display: block;
    color: #ffffff;
    font-size: 36px;
  }
  .navbar-inner nav .active {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
  .main-content .slider-item img {
    width: 100%;
    margin-top: 0;
  }
  .main-content .slider-item .slider-content-right {
    width: 45%;
  }
  .main-content .slider-item .slider-content-inner {
    display: flex;
  }
  .main-content .slider-item .slider-content-inner .slide-btn {
    white-space: nowrap;
  }
  .slick-dots {
    bottom: -25px;
  }
  .banner-inner .banner-inner-item {
    height: 156px;
  }
  .banner-inner .banner-inner-item img {
    height: 100%;
  }
  .banner-inner .banner-inner-item .context {
    display: none;
  }
  .product-list .product {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .feedback-item-name {
    margin-bottom: 0;
  }
  .branding-item {
    width: 33.333%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .footer-summary .summary-inner .social-link {
    margin: 82px 0;
  }
}
@media all and (max-width: 768px) {
  .navbar-inner nav .logo {
    height: 38px;
  }
  .main-content .slider-item .slider-content-inner .title {
    padding: 0;
  }
  .main-content .slider-item .slider-content-inner .summary {
    margin: 0;
    font-size: 12px;
  }
  .main-content .slider-item .slider-content-inner .slide-btn {
    padding: 5px 17px;
    font-size: 12px;
  }
  .product-list .product {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  .footer-summary .summary-inner {
    height: auto;
  }
  .footer-summary .summary-inner .description {
    height: auto;
  }
  .footer-contact .contact-inner .contact-item {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media all and (max-width: 576px) {
  .navbar-inner nav {
    padding: 0;
  }
  .navbar-inner nav .logo img {
    padding-top: 10px;
    width: 75%;
  }
  .main-content .slider .slider-item .slider-content {
    top: 48.8%;
  }
  .main-content .slider .slider-item .slider-content-inner .title {
    font-size: 1.5em;
    padding-bottom: 0;
  }
  .main-content .slider .slider-item .slider-content-inner .small-title {
    display: none;
  }
  .main-content .slider .slider-item .slider-content-inner .summary {
    display: none;
  }
  .banner {
    transform: translateY(-4.4%);
  }
  .banner img {
    width: 100%;
  }
  .banner-inner .banner-inner-item {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
    padding: 0;
  }
  .banner-inner .banner-inner-item .heading {
    margin: 0;
    font-size: 13px;
  }
  .product-list .product {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media all and (max-width: 420px) {
  .branding-item {
    width: 50%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
/*# sourceMappingURL=style.css.map */