.navbar {
	z-index: 10001;
	// position: relative;
	background-color: @header-background-color;
	width: 100%;
	position: absolute;
	&-inner {
		nav {
			// z-index: 1000;
			max-height: 100px;
			// width: 100%;
			background-size: auto;
			.flex();
			padding: 23px 0;
			.row {
				width: 100%;
				justify-content: space-between;
			}
			.logo {
				height: 54px;
				// margin-left: -44px;
				img{
					width: 100%;
				}
			}
			.navbar-option {
				.flex();
				margin-left: -21px;
				// padding: 0 60px;

				.navbar-item {
					padding: 0 26px;
					margin-top: 5px;
					a {
						color: @head-font-color;
					}
				}
				.navbar-item-control {
					display: none;
				}
				.exit {
					display: none;
				}
			}
			.control {
				.flex();
				margin-right: -52px;
				margin-bottom: -5px;
				#shop-cart {
					border-left: thin solid @banner-font-color;
					border-right: thin solid @banner-font-color;
				}
				&-item {
					a{

						color: @head-font-color;
					}
					padding: 0 25px;
				}
			}
			.nav-icon {
				display: none;
			}
		}
	}
}
